@import "../../utils/styleVariabeles/styleVariabeles.scss";

.settingBar {
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 5px gray;
  margin-top: 10px;
}

.settingBar__input-line-width {
  margin: 0 10px;
}
