@import "../../utils/styleVariabeles/styleVariabeles.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: $bacgroundColor;
  position: relative;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
