.toolBar {
  height: 100%;
  background-color: #6b77ac;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 4px 5px gray;
  box-sizing: border-box;
  padding: 10px 5px;

  .toolBar__btn_checked {
    outline: 2px dotted red;
    border-radius: 1rem;
  }

  &__btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 5px 0;
    border-bottom: 1.5px solid rgb(255, 255, 255);
    box-sizing: border-box;
  }

  &__btn {
    height: 38px;
    width: 38px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    margin: 6px;
    padding: 6px;
    box-sizing: border-box;
  }

  &__btn:hover {
    transform: scale(1.1, 1.1);
  }

  &__btn-image {
    height: 100%;
    width: 100%;
  }
  &__btn_rights {
    margin: 0;
  }
  &__btn_arrow-redo {
    margin: 0;
  }
  &__btn_arrow-redo {
    transform: scale(-1, 1);
  }
  &__btn_arrow-redo:hover {
    transform: scale(-1.1, 1.1);
  }

  &__delimiter {
    height: 1px;
    width: 100%;
    background-color: white;
  }

  &__clear-bts {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 2px;
    margin-top: 30px;
    cursor: pointer;
  }
  &__rest-icon {
    width: 50px;
    height: 50px;
  }
}
